Title: Tanner in action
Date: May 25, 2012
categories: media

%h1 Tanner in action

.flex-video
  %iframe(id="ytplayer" type="text/html" height="560" height="349"
          src="http://www.youtube.com/embed/Yw0d2f14tlU?autoplay=0?wmode=transparent&origin=#{url('/')}" frameborder="0")
