Title: About Tanner and the Ricos
Link Text: About
Template: home
Bodyclass: no-background
flags: 

.row.page-link#about
  %section.row.page-header
    .span6
      %section
        %h2 Tanner
        :markdown 

          Tanner is much like your typical six year-old boy.  He loves hanging
          out with his friends, playing super heroes, and of course teasing
          his big sister, Pria.  The thing that is different about Tanner is
          that he has trouble running and jumping.  He can not kick a ball,
          and he often falls for what seems to be for no reason at all.

          Tanner was born with [Duchenne Muscular Dystrophies][DMD] (DMD).

          [DMD]: http://www.nlm.nih.gov/medlineplus/ency/article/000705.htm

        %a.btn.btn-primary(href="/tanner") More about Tanner &raquo;

    .span6
      %section
        %h2 Pria
        :markdown
  
          Around the same time Tanner was diagnosed with DMD, our
          daughter Pria's sweet little pixie girl voice began to
          change.  At first we thought she just had a cold, but after
          a couple of weeks with her voice sounding more and more like
          a young Demi Moore, off to the specialist we went.  After a
          scope down her throat and a month of medication and
          exploratory surgery she was diagnosed with [Recurrent
          Respiratory Papillomatosis][RPP], or RRP.
  
          [RPP]: http://www.nidcd.nih.gov/health/voice/pages/laryngeal.aspx
  
        %a.btn.btn-primary(href="/pria") More about Pria &raquo;

.row.page-link#updates
  %section.row.page-header
    .span6
      %section.summaries#recent-news
        %h2 Recent updates
        = article_summaries(filter_out_categories(Nesta::Page.find_articles,'media')[0..2])

    .span6
      %section.summaries#media
        %h2 Media
        = article_summaries(filter_for_categories(Nesta::Page.find_articles,'media')[0..2], "span6")



