Title: Fundraising


%section.row.page-header#fundraising
  %ul.thumbnails
    %li.span4
      %div.thumbnail
        %h2 Fundraising
    %li.span4
      %div.thumbnail
        %h2 Social
        %ul.thumbnails
          %li.span1 
            %img(src="attachments/logos/f_logo.png")
          %li.span1 
            %img(src="attachments/logos/f_logo.png")
          %li.span1 
            %img(src="attachments/logos/f_logo.png")
/%section.articles= article_summaries(latest_articles)
