Title: Lemon-aid for Tanner
Template: home-nohero
Link Text: Lemon-aid
Bodyclass: no-background
flags: 

.row.page-link#about
  %section.page-header
    %ul.thumbnails
      %li.span6(title="Click for information on participating")
        %a.thumbnail(href="fundraising/lemon-aide-2012")
          %img(width="100%" src="/attachments/lemon-aid-flyer-007-990x1280.jpg")
      %li.span6
        .thumbnail(href="#" style="height:33%")
          %h1 Find a Location
          :markdown
            The main Lemon-Aid location will be located at:
            > Cardiff Seaside Market<br>
            > 2087 San Elijo Ave.,<br>
            > Cardiff by the Sea, 92007

            You can find additional locations by clicking through...
          %a.btn.btn-primary(href="fundraising/lemon-aide-2012") Find more locations

        .thumbnail(href="#" style="height:33%")
          %h1 Host a Stand
          :markdown
            If you would like to host your own stand to support Tanner email
            Lisa at [5daltons@cox.net](mailto:5daltons@cox.net) or call
            (760) 944-1423 to register your stand.
          %a.btn.btn-primary(href="fundraising/lemon-aide-2012") More details

        .thumbnail(href="#" style="height:33%")
          %h1 Hire Traci
          :markdown
            Tanner’s mom is a professional accountant with a
            celebrated work history. All connections are welcomed!!!
            To contact Traci for a job, please call her at (760)
            822-3756.  Check out her
            [resume](/attachments/resumes/traci-rico.docx).

          
          
