Title: Lemon-aid for Tanner
Template: home-nohero
Link Text: Lemon-aid
Bodyclass: no-background
flags: 

.row.page-link#about
  %section.page-header
    %ul.thumbnails
      %li.span6(title="Click for information on participating")
        %a.thumbnail(href="fundraising/lemon-aide-2012")
          %img(width="100%" src="/attachments/lemon-aid-flyer-007-990x1280.jpg")
      %li.span6
        .thumbnail(href="#" style="height:33%")
          %h1 Find a Location
          :markdown
            Details...
        .thumbnail(href="#" style="height:33%")
          %h1 Host a Stand
          :markdown
            Details...
        .thumbnail(href="#" style="height:33%")
          %h1 Hire Traci
          :markdown
            Details...

          
          
