Title: Tanner in action
Date: May 25, 2012
categories: media

%h1 Tanner in action

%iframe(id="ytplayer" type="text/html" width="100%" height="390"
        src="http://www.youtube.com/embed/Yw0d2f14tlU?autoplay=0&origin=http://weelittlemanrico.com" frameborder="0")
