Title: Fundraising
Link text: Fundraising

%h1.page-link Fundraising 

%p
  Help Tanner’s family pay for his medical bills.  You can donate
  online through 
  %a(href="#donationsModal" data-toggle="modal") Mitchell Thorp Foundation.


%h2.page-link Upcoming events

