Title: Lemon-aid for Tanner on June 16th, 2012
Link Text: Lemon-aid for Tanner on June 16th
Template: flyer
categories: fundraising, events
Date: 2012-05-25



%h1 Lemon-aid for Tanner on June 16th

%p
  :markdown

    Join us on Saturday, June 16th, 2012 from 10am to 2pm for the
    Lemon-Aid for Tanner fundraiser at locations throughout Cardiff by
    the Sea.

<!-- ~~fold~~ -->

.pull-right
  %img.span3(style="border:2px solid black" width="100%" src="/attachments/lemon-aid-flyer-007-small.jpg")

:markdown

  Our community has come together once again to help our family with
  all the expenses of raising two children with extraordinary medical
  needs.  It's a very simple concept.  Our community and friends are
  hosting Lemon-aid for Tanner around North County and donating the
  proceeds to our family.

  Check the Weelittlemanrico [Facebook
  page](http://www.facebook.com/pages/Weelittlemanrico/462839513730559)
  for additional updates.  We will also update locations as we get
  them on the fundraiser page here at Tanner's website.

%h2 Host a Stand 

:markdown

  If you would like to host your own stand to support Tanner email
  Lisa at [5daltons@cox.net](mailto:5daltons@cox.net) or call 
  <span class="label label-info">(760) 944-1423</span> to register your stand.

%h2 Stand Locations

:markdown 

  Here is a list of the Lemon-aid stands that will be operating from
  10am to 2pm (unless noted otherwise).  

%ul.thumbnails
  %li.span3
    .thumbnail(style="min-height:3em")
      Cardiff Seaside Market<br>
      2087 San Elijo Ave.,<br>
      Cardiff by the Sea, 92007
  %li.span3
    .thumbnail(style="min-height:3em")
      Bull Taco
  %li.span3
    .thumbnail(style="min-height:3em")
      Villa Cardiff and Windsor
  %li.span3
    .thumbnail(style="min-height:3em")
      Lake Drive and Woodgrove Ave.
  %li.span3
    .thumbnail(style="min-height:3em")
      1611 Rubenstein Dr & Ave
  %li.span3
    .thumbnail(style="min-height:3em")
      961 Sandcastle and Legaye
  %li.span3
    .thumbnail(style="min-height:3em")
      Encinitas Village Park pool Area across from 211 Village Run East
  %li.span3
    .thumbnail(style="min-height:3em")
      Munevar Court (3pm - 7pm)
  %li.span3
    .thumbnail(style="min-height:3em")
      Dora Dr. and Birmingham
  %li.span3
    .thumbnail(style="min-height:3em")
      Swamis & 101

%p
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=211690824408084185050.0004c2538ea3c4cd52af6&amp;ie=UTF8&amp;ll=33.034609,-117.269274&amp;spn=0.026861,0.044343&amp;t=h&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=211690824408084185050.0004c2538ea3c4cd52af6&amp;ie=UTF8&amp;ll=33.034609,-117.269274&amp;spn=0.026861,0.044343&amp;t=h&amp;source=embed" style="color:#0000FF;text-align:left">Lemon-aid for Tanner, June 16th, 2012 10am-2pm</a> in a larger map</small>

  
          