Title: Lemon-aid for Tanner on June 16th, 2012
Link Text: Lemon-aid for Tanner on June 16th
Template: flyer
categories: fundraising, events
Date: 2012-05-25

.row.page-link
  .span8

    %h1 Lemon-aid for Tanner on June 16th

    :markdown

      Join us on Saturday, June 16th, 2012 from 10am to 2pm for the
      Lemon-Aid for Tanner fundraiser at locations throughout Cardiff
      by the Sea.

      <!-- ~~fold~~ -->

    :markdown 

      Our community has come together once again to help our family
      with all the expenses of raising two children with extraorinary
      medical needs.  It's a very simple concept.  Our community and
      friends are hosting Lemon-aid for Tanner around North County and
      donating the proceeds to our family.

      Check the Weelittlemanrico [Facebook
      page](http://www.facebook.com/pages/Weelittlemanrico/462839513730559)
      for additional updates.  We will also update locations as we get
      them on the fundraiser page here at Tanner's website.

    %h2(name="host") Host a Stand 

    :markdown

      If you would like to host your own stand to support Tanner email
      Lisa at [5daltons@cox.net](mailto:5daltons@cox.net) or call
      (760) 944-1423 to register your stand.

    %h2(name="locations") Stand Locations

    %ul
      %li 
        :markdown
          Cardiff Seaside Market<br>
          2087 San Elijo Ave.,<br>
          Cardiff by the Sea, 92007

  .span4

    %img(style="border:2px solid black" width="100%" src="/attachments/lemon-aid-flyer-007-small.jpg")
    
          